@use "../abstracts/" as *;

//? root on the page main
.root--home {
}

.main--home {
	display: grid;
	grid-template-rows: 1fr 100%;

	overflow-y: auto;

	.main-playlist {
		padding: 1rem 1.75rem;

		background-image: linear-gradient(180deg, var(--teal-7) -150%, transparent);

		.header {
			display: flex;
			justify-content: space-between;

			&__btm-ctnr {
				display: inherit;
				align-items: flex-start;
				gap: 1rem;

				&__arrows {
					$scale: scale(0.9);

					border-radius: var(--radius-round);

					filter: brightness(1.1);
					padding: 0.5em;

					background-color: var(--clr-surface-0);

					transform: $scale;

					&:last-child {
						transform: rotate(180deg) $scale;
						opacity: 0.7;
					}
				}
			}

			&__user-ctnr {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 1em;

				filter: brightness(1.1);

				padding: 0.25em;
				padding-right: 0.875em;
				border-radius: var(--radius-round);

				height: 2.75em;
				width: 18em;
				background-color: var(--clr-surface-0);

				&__img {
					border-radius: inherit;

					height: 100%;
					width: auto;
				}

				&__heading {
					font-size: 1.1em;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				& > svg {
					$s: 18px;
					width: $s;
				}
			}
		}

		&__heading {
			display: block;
			font-size: 1.875rem;
			margin-block: 0.75em;
		}

		.playlist {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1.5rem;

			&__wrapper {
				$img-size: 5rem;

				display: grid;
				align-items: center;
				gap: 1.25em;
				grid-template-columns: $img-size 1fr 3.5rem;

				border-radius: var(--radius-2);

				height: $img-size;

				background-color: alpha(var(--clr-text-0), 0.1);
				backdrop-filter: blur(5px);

				overflow: hidden;

				&:not(:hover) {
					$ts: 200ms ease-in 20ms;

					&.playlist__wrapper {
						transition: $ts;
						transition-property: background-color;
					}
					.playlist__wrapper__player {
						transition: $ts;
						transition-property: opacity;
					}
				}

				&:hover,
				&:focus,
				&:focus-visible,
				&:active {
					&.playlist__wrapper {
						background-color: alpha(var(--clr-text-0), 0.125);
					}
					.playlist__wrapper__player {
						opacity: 1;
					}
				}

				&__img {
					height: inherit;
					box-shadow: 0 0 16px -4px var(--clr-surface-0);

					user-select: none;
				}

				&__album-name {
					font-weight: 500;
					user-select: none;
				}

				&__player {
					$s: 2.75rem;
					width: $s;
					height: $s;

					border-radius: var(--radius-round);

					filter: brightness(1.1);
					background-color: var(--clr-brand-0);

					opacity: 0;
				}
			}
		}
	}

	.playlist-cards {
		&__list {
			&--vertical {
				display: grid;
				gap: 1rem;
				
				grid-auto-rows: 1fr;

				&__item {
					display: grid;
					grid-template-columns: 1fr max-content;
					grid-template-areas:
						"heading see-all"
						"content content";

					gap: 1em;
					padding: 1rem 1.75rem;

					&__heading {
						grid-area: heading;
						font-size: 1.25em;
					}

					&__more {
						grid-area: see-all;
						padding: 0 0.25em;

						small {
							text-align: end;
							font-weight: 700;
							font-size: 0.95em;
							color: alpha(var(--clr-text-0), 0.6);
						}
					}
				}
			}

			&--horizontal {
				grid-area: content;

				display: grid;
				grid-template-columns: repeat(7, 1fr);
				gap: 1em;

				.item {
					display: flex;
					flex-direction: column;
					gap: 0.25em;

					border-radius: var(--radius-2);
					padding: 0.75em;

					background-color: alpha(var(--clr-surface-2), 0.6);
					transition: background-color 200ms ease-out;

					&:hover,
					&:focus,
					&:focus-visible {
						background-color: var(--clr-surface-2);

						.item__container__btm {
							transform: translateY(0);
							opacity: 1;
						}
					}

					&__container {
						position: relative;
						margin-bottom: 0.75em;

						&__img {
							width: 100%;
							height: auto;

							border-radius: var(--radius-2);
						}

						&__btm {
							position: absolute;
							right: 0.25em;
							bottom: 0.5em;

							filter: brightness(1);
							background-color: var(--clr-brand-0);
							padding: 1.125em;

							border-radius: var(--radius-round);

							transform: translateY(5px);
							opacity: 0;
							transition: 200ms ease-out;
							transition-property: transform opacity;

							z-index: var(--layer-2);

							svg {
								transform: scale(1.1);
							}
						}
					}

					&__album-info {
						&--name {
							font-size: 0.975em;

							font-weight: 500;
						}
						&--author {
							font-size: 0.925em;
							color: alpha(var(--clr-text-0), 0.6);

							display: -webkit-box;
							max-width: 100%;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
						}
					}
				}
			}
		}
	}
}
