@use "../abstracts/" as *;

:root {
    @include defineColorHSL(--clr-surface-0, 210, 11%, 2.25%);
    @include defineColorHSL(--clr-surface-1, 210, 11%, 7.25%);
    @include defineColorHSL(--clr-surface-2, 210, 11%, 15.5%);
    @include defineColorHSL(--clr-surface-3, 0.5, 0%, 33.15%);

    @include defineColorHSL(--clr-text-0, 210, 17%, 95.25%);
    @include defineColorHSL(--clr-text-1, 210, 11%, 71.25%);

    --clr-brand-0: hsl(141, 76%, 48%);
    --clr-brand-1: hsl(141, 73%, 42%);
    --clr-brand-2: hsl(168, 98%, 20%);
    --clr-brand-3: hsl(169, 97%, 14%);
}

.false-class----------------------------------------colors {
    --clr-surface-0: hsl(210, 11%, 2.25%);
    --clr-surface-1: hsl(210, 11%, 7.25%);
    --clr-surface-2: hsl(210, 11%, 15.5%);
    --clr-surface-3: hsl(0.5, 0%, 33.15%);

    --clr-text-0: hsl(210, 17%, 95.25%);
    --clr-text-1: hsl(210, 11%, 71.25%);
}
